In [7]:
import pandas as pd
import plotly as pl
import numpy

In [8]:
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [9]:
vg_nintendo = df.query("Publisher == 'Nintendo'")   
vg_nintendo

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16269,16272,Slide Adventure: Mag Kid,DS,2007.0,Action,Nintendo,0.00,0.00,0.01,0.00,0.01
16357,16360,Mario vs. Donkey Kong: Tipping Stars,WiiU,2015.0,Puzzle,Nintendo,0.00,0.00,0.01,0.00,0.01
16456,16459,Art Academy: Home Studio,WiiU,2015.0,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01
16473,16476,Captain Rainbow,Wii,2008.0,Adventure,Nintendo,0.00,0.00,0.01,0.00,0.01
16542,16545,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015.0,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01

In [10]:
# Vendo qual jogo tem mais plataformar
ps2_games = df.query('Platform == "PS2"')
contagem_ps2_games = len(ps2_games)
contagem_ps2_games
ps2_games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
38,39,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
...,...,...,...,...,...,...,...,...,...,...,...
16559,16562,Sugar + Spice! Anoko no Suteki na Nanimokamo,PS2,2008.0,Adventure,Alchemist,0.00,0.00,0.01,0.00,0.01
16561,16564,Kanokon: Esuii,PS2,2008.0,Adventure,5pb,0.00,0.00,0.01,0.00,0.01
16572,16575,Scarlett: Nichijou no Kyoukaisen,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16580,16583,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [11]:
price_above_10 = df.query("Global_Sales > 10")
price_above_10

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
57,58,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55
58,59,Pokemon FireRed/Pokemon LeafGreen,GBA,2004.0,Role-Playing,Nintendo,4.34,2.65,3.15,0.35,10.49
59,60,Super Mario 64,DS,2004.0,Platform,Nintendo,5.08,3.11,1.25,0.98,10.42
60,61,Just Dance 3,Wii,2011.0,Misc,Ubisoft,6.05,3.15,0.00,1.07,10.26
61,62,Call of Duty: Ghosts,X360,2013.0,Shooter,Activision,6.72,2.63,0.04,0.82,10.21

In [12]:
# Criando uma coluna que comporta a mÃ©dia de preÃ§o de todos os jogos / .round(2) arredonda para dias casas decimais 
df['Average_price'] = ((df['NA_Sales'] + df['EU_Sales'] + df['JP_Sales'] + df['Other_Sales']) / 4).round(2)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Average_price
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,20.68
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,10.06
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,8.96
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,8.25
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,7.85
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.00
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.00
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0.00
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.00
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.00

In [13]:
# Dropando uma coluna
df = df.drop('average_price', axis=1)
df

KeyError: "['average_price'] not found in axis"

Resumindo dados

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           16598 non-null  int64
 1   Name           16598 non-null  object
 2   Platform       16598 non-null  object
 3   Year           16327 non-null  float64
 4   Genre          16598 non-null  object
 5   Publisher      16540 non-null  object
 6   NA_Sales       16598 non-null  float64
 7   EU_Sales       16598 non-null  float64
 8   JP_Sales       16598 non-null  float64
 9   Other_Sales    16598 non-null  float64
 10  Global_Sales   16598 non-null  float64
 11  Average_price  16598 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 1.5+ MB

In [ ]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Average_price
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441,0.134099
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028,0.388887
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,0.020000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,0.040000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000,0.120000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000,20.680000

In [ ]:
# soma de todos os preÃ§os 
df['NA_Sales'].sum()

np.float64(4392.950000000001)

In [ ]:
# A medÃ­a de todos os preÃ§os 
df['NA_Sales'].mean()

np.float64(0.26466742981082064)

In [ ]:
# soma de todos os preÃ§os 
df['EU_Sales'].sum()

np.float64(2434.1299999999997)

In [ ]:
# soma de todos os preÃ§os 
df['JP_Sales'].sum()

np.float64(1291.0200000000002)

In [ ]:
# Contando quantos jogos tem de cada console
df['Platform'].value_counts()

Platform
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: count, dtype: int64

In [ ]:
# Quantos jogos foram lanÃ§ados em determinado ano
df['Year'].value_counts()

Year
2009.0    1431
2008.0    1428
2010.0    1259
2007.0    1202
2011.0    1139
2006.0    1008
2005.0     941
2002.0     829
2003.0     775
2004.0     763
2012.0     657
2015.0     614
2014.0     582
2013.0     546
2001.0     482
1998.0     379
2000.0     349
2016.0     344
1999.0     338
1997.0     289
1996.0     263
1995.0     219
1994.0     121
1993.0      60
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      21
1989.0      17
1983.0      17
1987.0      16
1990.0      16
1988.0      15
1985.0      14
1984.0      14
1980.0       9
2017.0       3
2020.0       1
Name: count, dtype: int64

In [ ]:
# Total de vendas globais por plataforma
vendas_por_plataforma = df.groupby('Platform')['Global_Sales'].sum().sort_values(ascending=False)
print(vendas_por_plataforma)

Platform
PS2     1255.64
X360     979.96
PS3      957.84
Wii      926.71
DS       822.49
PS       730.66
GBA      318.50
PSP      296.28
PS4      278.10
PC       258.82
XB       258.26
GB       255.45
NES      251.07
3DS      247.46
N64      218.88
SNES     200.05
GC       199.36
XOne     141.06
2600      97.08
WiiU      81.86
PSV       61.93
SAT       33.59
GEN       28.36
DC        15.97
SCD        1.87
NG         1.44
WS         1.42
TG16       0.16
3DO        0.10
GG         0.04
PCFX       0.03
Name: Global_Sales, dtype: float64

In [ ]:
# Top 10 jogos mais  vendidos 
top_10 = df.sort_values(by='Global_Sales', ascending=False).head(10)
print(top_10[['Name', 'Platform', 'Global_Sales']])

                        Name Platform  Global_Sales
0                 Wii Sports      Wii         82.74
1          Super Mario Bros.      NES         40.24
2             Mario Kart Wii      Wii         35.82
3          Wii Sports Resort      Wii         33.00
4   Pokemon Red/Pokemon Blue       GB         31.37
5                     Tetris       GB         30.26
6      New Super Mario Bros.       DS         30.01
7                   Wii Play      Wii         29.02
8  New Super Mario Bros. Wii      Wii         28.62
9                  Duck Hunt      NES         28.31

In [ ]:
# Vendas por Publisher
vendas_por_publisher = df.groupby('Publisher')['Global_Sales'].sum().sort_values(ascending=False).head(10)
print(vendas_por_publisher)

Publisher
Nintendo                        1786.56
Electronic Arts                 1110.32
Activision                       727.46
Sony Computer Entertainment      607.50
Ubisoft                          474.72
Take-Two Interactive             399.54
THQ                              340.77
Konami Digital Entertainment     283.64
Sega                             272.99
Namco Bandai Games               254.09
Name: Global_Sales, dtype: float64

In [ ]:
# DistribuiÃ§Ã£o de jogos por ano de lanÃ§aÃ§amento 
jogos_por_ano = df['Year'].value_counts().sort_index()
print(jogos_por_ano)

Year
1980.0       9
1981.0      46
1982.0      36
1983.0      17
1984.0      14
1985.0      14
1986.0      21
1987.0      16
1988.0      15
1989.0      17
1990.0      16
1991.0      41
1992.0      43
1993.0      60
1994.0     121
1995.0     219
1996.0     263
1997.0     289
1998.0     379
1999.0     338
2000.0     349
2001.0     482
2002.0     829
2003.0     775
2004.0     763
2005.0     941
2006.0    1008
2007.0    1202
2008.0    1428
2009.0    1431
2010.0    1259
2011.0    1139
2012.0     657
2013.0     546
2014.0     582
2015.0     614
2016.0     344
2017.0       3
2020.0       1
Name: count, dtype: int64

In [ ]:
# MÃ©dia de preÃ§o por genÃªro
preco_medio_genero = df.groupby('Genre')['Average_price'].mean().sort_values(ascending=False)
print({preco_medio_genero})

Genre
Platform        0.234515
Shooter         0.197710
Role-Playing    0.155598
Racing          0.146309
Sports          0.141650
Fighting        0.132394
Action          0.131840
Misc            0.116187
Simulation      0.112803
Puzzle          0.104897
Strategy        0.063686
Adventure       0.045645
Name: Average_price, dtype: float64

In [38]:
import plotly.express as px
import plotly.io as pio

# ForÃ§ar abrir no navegador
pio.renderers.default = 'browser'

# Agrupando os dados
vendas_por_plataforma = df.groupby('Platform')['Global_Sales'].sum().sort_values(ascending=False)

# Criando o grÃ¡fico de barras
fig = px.bar(
    vendas_por_plataforma.reset_index(),
    x='Platform',
    y='Global_Sales',
    title='Vendas Globais por Plataforma',
    labels={'Global_Sales': 'Vendas Globais (em milhÃµes)', 'Platform': 'Plataforma'},
    text_auto='.2s'  # Mostra os valores em cima das barras (opcional)
)

# Organizar o eixo X do maior para o menor
fig.update_layout(
    xaxis={'categoryorder': 'total descending'},
    width=800,
    height=500
)

# Mostrar no navegador
fig.show()

In [39]:
# Agrupando e selecionando os 10 maiores publishers

import plotly.express as px
import plotly.io as pio

# ForÃ§ar abrir no navegador
pio.renderers.default = 'browser'

# Agrupando dados
vendas_por_publisher = df.groupby('Publisher')['Global_Sales'].sum().sort_values(ascending=False).head(10)

# Criando o grÃ¡fico
fig = px.pie(
    vendas_por_publisher.reset_index(),
    names='Publisher',
    values='Global_Sales',
    title='ParticipaÃ§Ã£o dos 10 Maiores Publishers nas Vendas Globais'
)

# Ajustes de texto no grÃ¡fico
fig.update_traces(textposition='inside', textinfo='percent+label')

# Mostrar
fig.show()